{% extends "base.html" %}
{% block title %}Просмотр - Опросник{% endblock %}

{% block content %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">{{ survey.title }}</h1>
    <h3 class="ui header">Ваш опрос прошли: {{ num_submissions }} раз</h3>
    <h3 class="ui header">Ссылка на опрос: <a href="{{public_url}}">{{ public_url }}</a></h3>
    <form method="post" action="{% url 'survey-disabled' survey.pk %}" style="display: inline-block;">
        {% csrf_token %}
        <button class=" ui button">Выключить</button>
    </form>
    <h1 class="ui header dividing">Результаты</h1>
    {% for question in questions %}
    <div class="ui basic padded segment left aligned">
        <h4 class="ui header">
            Вопросы {{ forloop.counter }} / {{ questions|length }}: {{ question.prompt }}
        </h4>
        <ul>
            {% for option in question.option_set.all %}
            <li>
                {{ forloop.counter }}) {{option.text}}: {{ option.percent|floatformat }}%
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</div>
{% endblock %}